/* 
    General Styles
*/

html, body {
    height: 100%;
    margin:0;
    padding:0;
}

body {
    position: relative;
}

.wrapper {
    min-height: 100%; 
    position: relative;
}


footer {
    position: absolute;
    bottom:0;
}
